.more-container {
    display: flex;
    width: 100%;
    padding-top: 100px;
    transition: ease-in .5s;
}

.less-container {
    display: flex;
    width: 100%;
    padding-top: 100px;
    transition: ease-in .5s;
}

.carousel-rest-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
    /* margin-left: 83px; */
}

.carousel-rest-div1 {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transition: all .3s;
}

.carousel-rest-div2 {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transition: all .3s;
}

.carousel-rest-div3 {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transition: all .3s;
}

.carousel-rest-div4 {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transition: all .3s;
}

.carousel-rest-div5 {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transition: all .3s;
}

.carousel-rest-div1:hover {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transform: translate(0, -10px);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.carousel-rest-div2:hover {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transform: translate(0, -10px);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.carousel-rest-div3:hover {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transform: translate(0, -10px);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.carousel-rest-div4:hover {
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transform: translate(0, -10px);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.carousel-rest-div5:hover {
    position: initial;
    display: flex;
    flex-direction: column;
    height: 264px;
    width: 236px;
    border: 1px solid lightgray;
    transform: translate(0, -10px);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.carousel-img {
    height: 132px;
    width: 100%;
    object-fit: fill;
}

.carousel-img > a > img {
    height: 132px;
    width: 236px;
    object-fit: fill;
}

.fafa > i {
    color: #da3743;
    font-size: 14px;
    padding-left: 8px;
}

.carousel-return > h1 {
    font-weight: bold;
    padding: 8px 0px 5px 8px;
}

.carousel-anchor {
    text-decoration: none;
    color: black;
}

.carousel-tag {
    font-size: 14px;
    color: #4a4848;
    padding: 5px 0 0 8px;
    cursor: pointer;
}

.fasend-right {
    height: 15px;
    width: 15px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    border-top: 3px solid black;
    border-right: 3px solid black;
    z-index: 2;
    /* position: absolute; */
    /* right: 0; */
    display: flex;
    margin-top: 120px;
}

.fasend-left {
    height: 15px;
    width: 15px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    z-index: 2;
    /* position: absolute; */
    /* right: 0; */
    display: flex;
    margin-top: 120px;
}

.carousel-link {
    text-decoration: none;
    cursor: pointer;
}




