
.footer {
    height: 62px;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
    background-color: #333;
    position: inherit;
    bottom: 0;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;

  i {
    color: #acacac;
    width: 20px;
  }
}

.footer-blurb {
  width: 400px;
  display: flex;
  align-items: center;

  p {
    font-size: 15px;
    line-height: 30px;
    color: #a5a5a5;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  li {
    margin: 5px 0;
  }

  li > a {
    color: #a5a5a5;
  }
}