.greet-intro {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 32px;
    right: 0;
    padding-right: 45px;
}

/* .greet-signup {
    display: flex;
    background-color: #237b98;
    border-color: #1c627a;
    color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 0 11px;
    font-weight: 200;
    border-radius: 2px;
} */

.top-header {
    display: flex;
    padding-left: 30px;
}

div.logo {
    content: url(https://media.licdn.com/dms/image/C560BAQFIOcTy8tdiVg/company-logo_200_200/0?e=2159024400&v=beta&t=S0WcfI0GpxVGFfhy2vFQOk3WCYlYhe6Md4KxjqZCO2Y);
    height: 75px;
    width: 75px;
    padding-top: 3px;
}

.title {
    font-size: 30px;
    cursor: default;
}

.signup-button {
    background-color: #237b98;
    border-color: #1c627a;
    outline: none;
    color: white;
    width: 77px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: .775rem;
    font-weight: 300;
}

.login-button {
    background-color: white;
    border: none;
    outline: none;
    color: black;
    width: 77px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: .975rem;
}

input:focus {
    border: 1px solid black;
}

.backgrounds {
    display: flex;
    z-index: -1;
}

.root > img {
    /* background-image: url('restaurant.png'); */
    height: 416px;
    width: 100%;
    opacity: 0.7;
    z-index: -1;
    position: relative;
}
.background-header {
    position: absolute;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
    top: 190px;
    z-index: 1;
    left: 250px;
    cursor: default;
} 

.greet-h1 {
    font-size: 20px;
    text-transform: capitalize;
}

.greet-button {
    height: 20px;
}

.user-button {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 1;
    text-transform: capitalize;
    outline: none;
    padding-top: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: visible;
}

/* .dropdown-content a {
    position: absolute;
    color: black;
    padding-right: 14px;
    text-decoration: none;
    display: block;
    text-align: left;
    top: 36px;
    right: 6px;
    background-color: white;
} */

.dropdown-content a:hover {
    background-color: none;
}

.show {
    display: block;
}

html {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.drop-down-list {
    display: flex;
    z-index: 1;
    flex-direction: column-reverse;
    position: absolute;
    height: 275px;
    width: 236px;
    background-color: white;
    top: 44px;
    right: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid lightgray;
}

.drop-down-list > li > a {
    text-decoration: none;
    font-size: 16px;
    color: gray;
    font-weight: bolder;
}

.drop-down-list > li {
    margin-left: 14px;
    margin-bottom: 10px;
    padding: 0px;
}


.drop-down-list li:first-child {
    padding-bottom: 11px;
}


/* .user-dropdown {
    width: 200px;
    height: 200px;
    position: relative;
    border-top: 4px solid #e74c3c;
} */

.triangle {
    position: absolute;
    margin: auto;
    top: 37px;
    left: 0;
    right: 0;
    width: 13px;
    height: 13px;
    -webkit-transform: rotate(45deg);
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: none;
    border-bottom: none;
    background-color: white;
    z-index: 10;
}