.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header {
    position: relative;
    display: flex;
    font-size: 24px;
    color: #5a5a5a;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
    margin-bottom: 8px;
    font-weight: 100;
}

.session-form {  
    position: absolute;
    top: 85px;
    bottom: 10px;
    width: 460px;
    height: 598px;
    box-sizing: border-box;
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 50px 30px;
}

.session-form > input {
    display: flex;
    justify-content: center;
    background: white;
    /* align-content: center; */
    align-items: center;
    height: 35px;
    font-size: 15px;
    padding: 8px;
    margin: 10px 0px;
}

.session-form > input::placeholder {
    color: default;
}
    
.session-link {
    display: flex;
    flex-direction: row-reverse;
}

#session-submit, .demo-button {
    background-color: #da3743;
    border-color: #b8222d;
    color: white;
    height: 55px;
    box-sizing: border-box;
    font-size: 1.2rem;
    border-radius: 3px;
    font-weight: 400;
    margin: 4px 0px;
    transition: background-color 200ms ease-in;
    cursor: pointer;
}

#session-submit:hover, .demo-button:hover {
     background-color: #cc313b;
     color: white;
}

.errors {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-flow: column;
    padding: 0;
    width: 100%;
    font-size: 13px;
    margin: 0;
}

.errors > li {
    position: relative;
    color: red;
}

/* input:focus {
    outline: none;
} */

.errors-render {
    border: 1px solid red;
    color: red;
    display: flex;
    justify-content: center;
    background: white;
    /* align-content: center; */
    align-items: center;
    height: 35px;
    font-size: 15px;
    padding: 8px;
    margin: 10px 0px;
}
.errors-render::placeholder {
    color: #f3a8a8;
    
}

/* .errors-render:focus {
    color: black;
    outline: 1px solid darkgray;
    border: 1px solid gray;
        opacity: 1 !important;
} */

#fnameInput:focus {
    outline: 1px solid darkgray;    
}

#lnameInput:focus {
    outline: 1px solid darkgray;    
}

#emailInput:focus {
    outline: 1px solid darkgray;    
}

#passwordInput:focus {
    outline: 1px solid darkgray;    
}

#cpasswordInput:focus {
    outline: 1px solid darkgray;    
}