.rest-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.rest-ul > li {
    height: 235px;
    width: 768px;
    border-bottom: 1px solid lightgray;
}

.time-slots {
    display: inline-flex;
    padding-top: 33px;
}

.time-slots > li {
    float: left;
    width: 105px;
    background-color: #DA3743;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8.4px 0px;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 9px;
}

.rest-index-names {
    text-decoration: none;
    color: #247f9e;
    font-weight: bold;
    font-size: 17px;
}

.rest-index-items {
    height: 100%;
    padding: 22px 0px;
    border-bottom: 1px solid lightgray;
}

.rest-index-items > li {
    padding: 3px 0px;
}

.tag {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.623);
}

.rest-ul li + li {
    padding-top: 10px;
}
.rest-list {
    height: 100%;

    .search-bar-in-nav {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 75px;
        background-color: #666;
        padding: 10px;
        
        input {
            height: 46px;
            width: 301px;
            border-radius: 4px;
            border: 1px solid lightgrey;
            outline: none;
            font-size: 15px;
            
        }
        input::placeholder {
            font-size: 20px;
        }
    }
}


.rest-container {
    height: 100%;
}

.fa-star {
    color: #fdae07;
    padding-right: 2px;
    font-size: 18px;
}

.rest-index-items-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.rest-index-img {
    height: 181px;
    width: 181px;
    padding-right: 20px;
    object-fit: fill;
}