
.review-parent {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.review-others {
    display: flex;
    flex-direction: column;
}

.review-user {
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid lightgray;

    p {
        font-size: 20px;
        font-weight: bold;
        color: rgb(49, 49, 49);
    };
}

.review-username {

}

.review-body {
    padding-left: 20px;
    display: flex;
    flex-direction: column;

   

    h2 {
        font-size: 13px;
        // padding-bottom: 5px;
        // padding-left: 20px;
        letter-spacing: 4px;
    }
    
    h3 {
        font-size: 13px;
        // padding-bottom: 10px;
        font-weight: bold;
    }
    

    p {
        font-size: 15px;
        padding-left: 100px;
        color: rgb(71, 71, 71);
    }

    i:last-child {
        padding-right: 10px;
    }
}

.review-div1 {
        display: flex;
        justify-content: space-around;
        padding-bottom: 5px;
}

.review-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

// .review-radio-div {
//     display: flex;
//     justify-content: center;
// }


.review-form .stars {
  background: url("https://open-mesa-seeds.s3.amazonaws.com/stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}

.review-form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.review-form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
.review-form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
.review-form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
.review-form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
.review-form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
.review-form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
.review-form .stars label:hover ~ span {
  background-position: 0 -30px;
}
.review-form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
.review-form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
.review-form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
.review-form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
.review-form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
.review-form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("https://open-mesa-seeds.s3.amazonaws.com/stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}