.rest-show-img-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.img-duo-container {
    display: flex;
    flex-direction: column;
    width: 144px
}

.duo-img {
    height: 144px;
    width: 144px;
    object-fit: cover;
}

.img-duo-brother {
    height: 288px;
    width: 288px;
}

.duo-img > img {
    height: 144px;
    width: 144px;
    object-fit: cover;
}

.img-duo-brother > img {
    height: 288px;
    width: 288px;
    object-fit: cover;
}
