.rest-show-img-container {
    display: flex;
    width: 100%;
}

.img-duo-container {
    display: flex;
    flex-direction: column;
}

.duo-img {
    height: 142px;
    width: 142px;
    object-fit: fill;
}

.img-duo-brother {
    height: 288px;
    width: 288px;
}

.duo-img > img {
    height: 142px;
    width: 142px;
    object-fit: fill
}

.img-duo-brother > img {
    height: 288px;
    width: 288px;
    object-fit: fill
}
